<table>
    <thead>
        <tr>
            <th>IP address</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% if user_logs.count > 0 %}
            {% for log in user_logs %}
                <tr>
                    <td>{{ log.ip_address }}</td>
                    <td>{{ log.message }}</td>
                    <td>{{ log.created_at|date }}</td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td colspan="3"></td>
                </tr>
        {% endif %}
    </tbody>
</table>
{{ user_logs.render }}