<form
    data-request="onRegister">

    <label for="registerName">Login</label>
    <input
        name="name"
        type="text"
        id="registerName"
        placeholder="Login user..." />

    <label for="registerEmail">E-mail</label>
    <input
        name="email"
        type="text"
        id="registerName"
        placeholder="E-mail..." />

    <label for="registerPassword">Password</label>
    <input
        name="password"
        type="password"
        id="registerPassword"
        placeholder="Password..." />

    <label for="registerPassword">Confirm password</label>
    <input
        name="password_confirmation"
        type="password"
        id="registerPasswordConfirmation"
        placeholder="Confirm password..." />

    <button type="submit">Register</button>
</form>
