<form
    data-request="onRegister">

    <label for="registerName">Логин</label>
    <input
        name="name"
        type="text"
        id="registerName"
        placeholder="Введите логин..." />

    <label for="registerEmail">Почта</label>
    <input
        name="email"
        type="text"
        id="registerName"
        placeholder="Введите почту..." />

    <label for="registerPassword">Пароль</label>
    <input
        name="password"
        type="password"
        id="registerPassword"
        placeholder="Введите пароль..." />

    <label for="registerPassword">Повтор пароля</label>
    <input
        name="password_confirmation"
        type="password"
        id="registerPasswordConfirmation"
        placeholder="Повторите пароль..." />

    <button type="submit">Регистрация</button>
</form>
