<form
    data-request="onSignin">

    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input 
                class="uk-input" 
                name="name" 
                id="userSigninLogin" 
                type="text" 
                placeholder="Логин..." />
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input 
                class="uk-input" 
                name="password" 
                id="userSigninPassword" 
                type="password" 
                placeholder="Пароль..." />
        </div>
    </div>
    <div class="uk-margin">
        <label><input class="uk-checkbox" type="checkbox"> Запомнить меня</label>
    </div>

    <button class="uk-button uk-button-default uk-width-1-1"><i uk-icon="icon: sign-in"></i> Авторизоваться</button>
</form>